pandas==2.2.0
scikit-learn==1.3.2
wandb==0.15.12
matplotlib==3.7.2
jupyter==1.0.0
fastapi==0.115.11
uvicorn==0.34.0
joblib==1.3.2
seaborn==0.13.2
pyarrow==19.0.1
wandb==0.15.12
tensorflow==2.19.0
category_encoders
fastcore
category_encoders
xgboost